@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");


body{
    font-family: "poppins";
}
a{
    text-decoration: none;
}



.background {
    position: fixed;
    z-index: -1;
    height: 100%;
    width: 100%;
    filter: brightness(90%);
}

.bg-image {
    height: 80vh;
    filter: blur(15px);
    opacity: 30%;
    zoom: 1.5;
}

.main-content {
    height: 90vh;
}

.form-floating{
    height: 70px;
}
.form-floating>label {
    font-size: 13px;
    color: #707070;
}
.form-floating>.form-control-plaintext~label, .form-floating>.form-control:focus~label, .form-floating>.form-select~label{
    color: #02BCE6;
}

.form-control{
    border-width: 1.5px;
    border-color: #c2c2c2;
    margin-bottom: 15px;
}
.form-control:focus{
    box-shadow: none;
    border-color: #02BCE6;
}

.login-input label{
    padding-top: 18px;
}
.login-input{
    width: 325px;
}



.login-btn {
    width: 325px;
    background-color: #02BCE6;
    color: white;
}

.login-btn:hover {
    background-color: #02a3c7;
    color: #ffffff;
}

.logo-img {
    padding: 15px;
    height: 150px;
}

.logo
{
    position: absolute;
}

.theme-btn {
    position: absolute;
    z-index: 2;
    top: 15px;
    right: 15px;
}

.x {
    color: #02BCE6;
    border-color: #02BCE6;
    border-radius: 7px;
    height: 40px;
    width: 40px;
}
.x:hover {
    background-color: #02BCE6;
    color: #ffffff;
}

.back-btn {
    color: #02BCE6;

}
.navbar{
    box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.2);
}

.info-head{
    font-weight: 600;
    margin: 20px 10px;
}

.info-head .form-control{
    height: 200px;
}
.patient-info{
    margin: 7px 0px;
}
.upload-files{
    height: 58px;
    background-color: #02BCE6;
    color: #ffffff;
    padding: 17px;
    font-size: 14px;
}
.mgn{
    margin-bottom: 45px;
}




#login-head{
    padding: 25px 5px;
    font-size: 1.75rem;
    font-weight: 600;
}
#forgot-pswd{
    padding: 20px;
    color: #02BCE6;
    font-weight: 400;
}
#forgot-pswd:hover{
    color: #003d4a;
}
#forgot-pswd-head{
    padding: 25px 5px;
    font-size: 1.75rem;
    font-weight: 600;
}
#back-btn{
    padding: 20px;
    color: #02BCE6;
    font-weight: 400;
}
#back-btn:hover{
    color: #003d4a;
}
#sbmt-req-btn{
    width: 325px;
    height: 50px;
    background-color: #02BCE6;
    color: white;
    margin: 9px;
    padding: 12px;
}
#reg-patnt-btn{
    width: 325px;
    height: 50px;
    background-color: #0D1556;
    color: white;
    margin: 9px;
    padding: 12px;
}
#nav-logo{
    height: 50px;
    margin: 0 25px;
}
#x{
    color: #02BCE6;
    border-color: #02BCE6;
    border-radius: 7px;
    height: 40px;
    width: 40px;
    margin: 0 15px;
}
#x:hover {
    background-color: #02BCE6;
    color: #ffffff;
}
#main-container{
    margin-top: 50px;
}
#ima-head{
    padding: 25px 5px;
    font-size: 1.75rem;
    font-weight: 600;
}
#btn-mgn{
    position: absolute;
    border-color: #02BCE6;
    color: #02BCE6;
    margin: 15px;
}
#patnt{
    width: 325px;
    height: 50px;
    background-color: #E9EAEF;
    color: #556589;
    border-width: 1px;
    font-weight: 600;
    border-color: #556589;
    margin: 9px;
    padding: 12px;
}
#family{
    width: 325px;
    height: 50px;
    background-color: #E4F2F9;
    color: #02BCE6;
    border-width: 1px;
    font-weight: 600;
    border-color: #02BCE6;
    margin: 9px;
    padding: 12px;
}
#cncrg{
    width: 325px;
    height: 50px;
    background-color: #E6F1E5;
    color: #487345;
    border-width: 1px;
    font-weight: 600;
    border-color: #487345;
    margin: 9px;
    padding: 12px;
}
#prtnr{
    width: 325px;
    height: 50px;
    background-color: #F7E5F0;
    color: #783760;
    border-width: 1px;
    font-weight: 600;
    border-color: #783760;
    margin: 9px;
    padding: 12px;
}
#patient-info-container{
    margin-top: 100px;
    margin-bottom: 100px;
}
#upload-icon{
    margin: 1px 8px 0 13px;
    font-size: 22px;
}
#input-group-file{
    padding-left: 5px;
}
#input-group-file:hover {
    background-color: #02a3c7;
    color: #ffffff;
}
#sbmt-btn{
    background-color: #02BCE6;
    color: #ffffff;
    margin:  15px 8px;
    padding: 12px 25px;
    height: 50px;
}
#cncl-btn{
    color: #02BCE6;
    border-color: #02BCE6;
    margin:  15px 0 15px 8px;
    padding: 12px 25px;
    height: 50px;
}